{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="container">

        <div class="row">
            <form action="." method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Attacker</label>
                    <input type="file" class="form-control-file" id="attacker" name="attacker">
                </div>
                <div class="form-group">
                    <label>Defender</label>
                    <input type="file" class="form-control-file" id="defender" name="defender">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <!--
             <ul>
             {% for unit in attacker-units %}
             <li> {{unit.name}} </li>
             {% endfor %}
             <ul>


             <ul>
             {% for unit in defender-units %}
             <li> {{unit.name}} </li>
             {% endfor %}
             </ul>
        -->




        <div class="row">
            <form action="/fight" method="POST">
                <div class="form-group">
                    <select class="form-select" aria-label="Default
                                                            select
                                                            example" name="attacker">
                        {% for unit in attacker-units %}
                        <option value={{unit.id}}>{{unit.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-select" aria-label="Default
                        select example" name="defender">
                        {% for unit in defender-units %}
                        <option value={{unit.id}}>{{unit.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Fight</button>
            </form>
        </div>



        Attacker:
        <p>
            {{ attacker }}
        </p>
        Defender:
        <p>
            {{ defender }}
        </p>
        <!-- Results: -->
        <!-- <p> -->
        <!--     {{ results }} -->
        <!-- </p> -->
    </div>
</div>
{% endblock %}
